.page_logo {
  position: absolute;
  height: 35vmin;
  margin-top: -2%;
}

.Audit_process {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: 282c34;
}

.Step_container {
    width: 115vh;
    margin-top: 10rem;
    font-size: calc(5px + 1.5vmin);
    /* background-color: aqua; */
}
.Step_container>._53Ji7 {
    padding-top: 0rem!important;
}
.Step_container ._1Lo2h {
    height: 2.25rem;
}
.Step_container ._2kL0S {
    height: 2rem;
    width: 2rem;
}
._1hzhf {
    width: max-content;
}
._2Jtxm._2ZUAI ._2JvrO , ._2kL0S {
    height: 2.25rem;
    width: 2.25rem;
}._2Jtxm._2ZUAI ._2JvrO>svg, ._2kL0S>svg {
    width: 1rem;
}

.content_container {
    height: 100%;
    width: 100%;
    background-color: bisque;
}